body{
    background-color: #333333;
    justify-content: center;
    align-items: center;
    height: 200px;
}
h1{
    background-color: antiquewhite;

}
.logo{
    float: left;
    width: 100px;
    height: 120px;
    margin-right: 10px;
    
}

.movie-logo{
  width: 450px;
}

.my-button{
    background-color: blue;
    border-radius: 40px;
    border-bottom: 20px;
    margin-left: 20px;
    margin-top: 50px;
    display: table-column;
    float: left;
    flex-wrap: wrap;
    margin: 10px;
    width: 300px;
    background-color: #a9a9a9;
}

.select{
    background-color: aqua;
    border: solid black;
    border-radius: 5px;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    
    flex-direction: column;
    margin-bottom: 2px;
    align-items: center;
}
.login{
    margin-top: 100px;
    background-color: aqua;
}
.centre{
    justify-content: center;
    float: right;
    margin-top: 100px;
    margin-left: 50px;
    

}

.big-button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    margin-right: 500px;
    float: right;
    margin-top: 80px;
    background-color: rgb(18, 2, 18);
}

/* .layout{
    display: inline-block;
    background-color: black;
    width: 200px;
    
    padding: 20px;
} */

.button-container{
    justify-content: center;
    display: inline-flex;
    margin-bottom: 10px;
    display: flex;

}
 .sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 20px;
    color: white;
  } 

  /* .movie-container{
    display: flex;
    flex-wrap: wrap;
  } */

  .sidenav{
    background: #002240;
    position: fixed;
    height: 100%;
    width: 20%;
    top: 0;
    left: .0;
    z-index: 1;
    overflow: hidden;
    padding-top: .20px;
    margin-right: 100p;
    background-color: black;
    display: flex;

  }
  .main{
    margin-left: 20%;
    padding: 4px 10px;
  }
  /* index.css */
/* ... your existing styles ... */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    padding: 90px;
    border: 1px;
    border-radius: 30px;
  }
  
  .search-container input {
    width: 60%;
    padding:30px;
    border: 1px ;
    border-radius: 50px;
  }
  .button{
    background-color: blue;
    border-radius: 40px;
    border-bottom: 20px;
    margin-left: 20px;
    margin-top: 50px;
    display: table-column;
    float: left;
    flex-wrap: wrap;
    margin: 10px;
    width: 300px;
    background-color: #a9a9a9;
  }